body{
    background-color: #385155;
}
footer{
    background-color: #192324;
}
.date{
    color: #FFFF;
}
.ID{
 background-color: #192324;
}
.hello{
    color: #FFFF;
}
.showid{
    background-color: #FFFF;
    color: black;
}
