body{
    background-color: #866EB8;
}
footer{
    background-color: #332D55;
}
.date{
    color: #775FAD ;
}
.ID{
    background-color: #332D55;
}
.hello{
    color: #FFFF;
}
.showid{
    background-color: #FFFF;
    color: gray;
}
.first{
    position: absolute;
    left: -110px;
    top: -330px;
    background: url(spec.png);
    mix-blend-mode: screen;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    }
.second{
    position: absolute;
    top: 300px;
    left: 1300px;
    background: url(spec.png);
    mix-blend-mode: screen;
    transform: rotate(109.1deg);
    
}
.text1{
        position: absolute;
    left: 15px;
    top: -50px;
    z-index: 1;
    
}
.text2{
        position: absolute;
        left: 830px;
    top: 250px;
    z-index: 1;
}
.text1,.text2{
    color: #775FAD;
    font-weight: 900;
font-size: 500px;
text-transform: lowercase;
font-family: 'Arial';
}
